/*联系E小二*/
.floor-layer .consultation{
  padding-left: 3rem;
  background-repeat: no-repeat;
  background-image: url(../images/consultation.png);
  background-position: 0rem 0.4rem;
  background-size: 2.3rem;
}

.phone{
  padding-left: 2.5rem;
  background-repeat: no-repeat;
  background-image: url(../images/phone.png);
  background-position: 0.7rem 1.4rem;
  background-size: 1.4rem;
}
.noData{
  width: 100%;
  text-align: center;
  color: #ccc;
  margin-bottom:15rem;
}
.noData img{
  width: 5rem;
  margin: 17rem 0 1rem 0;
}
.kf-msg-l {
  overflow: hidden;
  padding-bottom: 10rem;
}
.kf-msg-l .ico-right-jiantou {
  position: absolute;
  top: 2.35rem;
  right: 1rem;
  margin-top: -0.6rem;
  display: block;
  width: 0.7rem;
  height: 1.2rem;
  background-image: url(../images/ico_jiantou.png);
  background-repeat: no-repeat;
  background-size: 0.7rem 1.2rem;
}
.kf-msg-l .k-send {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  line-height: 4.9rem;
  text-align: center;
  font-size: 1.6rem;
  background: #2892ff;
  color: #fff;
}
.kf-msg-l .k-send img {
  width: 2.3rem;
  margin-right: 1rem;
}
.kf-msg-l li {
  margin-top: 1rem;
  position: relative;
  min-height: 6.1rem;
}
.kf-msg-l li .k-box {
  width: 100%;
  background: #fff;
  position: relative;
  overflow: hidden;
  padding-right: 8.5rem;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.kf-msg-l .k-k-box {
  width: 100%;
  padding: 1.4rem 1rem;
  float: left;
  position: relative;
}
.kf-msg-l button {
  position: absolute;
  right: 0;
  top: 0;
  width: 8.5rem;
  height: 100%;
  text-align: center;
  line-height: 6.1rem;
  font-size: 1.6rem;
  color: #fff;
  border: none;
  background: #ff3000;
}
.kf-msg-l .k-name {
  display: block;
  padding-right: 20%;
  font-size: 1.4rem;
  color: #333;
}
.kf-msg-l .k-date {
  font-size: 1.1rem;
  color: #999;
}
.kf-msg-l .kf-reply {
  margin-top: 0.75rem;
  padding-top: 1rem;
  border-top: 1px solid #e5e5e5;
  font-size: 1.1rem;
  color: #ff3000;
  font-weight: bold;
}
.kf-msg-l .kf-reply img {
  width: 1.3rem;
  margin-bottom: 0.25rem;
}
.kf-msg-l .kf-reply .fl {
  width: 68%;
}
.kf-msg-l .kf-reply .fr {
  font-weight: 400;
}
.kf-msg-l .reply-send .r-btn {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  color: #333;
}
.k-apply {
  padding: 1.8rem 1rem 0;
  background: #fff;
}
.k-apply .fl {
  font-size: 1.2rem;
  color: #ff3000;
}
.k-apply .fl > span {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background: #dedede;
  border-radius: 100%;
  vertical-align: middle;
  margin: 0 0.5rem 0 0;
  position: relative;
  bottom: 2px;
}
.k-apply .fr {
  font-size: 1.1rem;
  color: #999;
}
.k-apply .k-p {
  border-top: 1px solid #e5e5e5;
  margin-top: 0.6rem;
  font-size: 1.4rem;
  color: #333;
  line-height: 2.3rem;
  padding: 1rem 0 1.25rem;
}
.k-textarea {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 13.3rem 0 4.9rem;
}
.k-textarea .k-t-box {
  height: 100%;
  overflow-y: auto;
  padding: 0 1rem;
}
.k-textarea .k-object {
  margin: 2rem 0;
  clear: both;
  overflow: hidden;
  font-size: 1.2rem;
  color: #333;
}
.k-textarea .k-u {
  float: left;
  text-align: center;
}
.k-textarea .k-u img {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  display: block;
  margin-bottom: 0.2rem;
}
.k-textarea .k-content {
  word-break: break-all;
  margin: 0 0 0 5.5rem;
  background: #fff;
  border: 1px solid #e8dbd2;
  border-radius: 0.8rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
  padding: 0.75rem 1.5rem;
  position: relative;
}
.k-textarea .k-content a {
  color: #36c;
  white-space: nowrap;
}
.k-textarea .k-content:before {
  content: '';
  position: absolute;
  left: -0.95rem;
  top: 1.45rem;
  width: 0.95rem;
  height: 0.95rem;
  background-image: url(../images/kf_05.png);
  background-size: 100% 100%;
}
.k-textarea .k-kf .k-u {
  float: right;
}
.k-textarea .k-kf .k-content {
  margin: 0 5.5rem 0 0;
}
.k-textarea .k-kf .k-content:before {
  left: auto;
  right: -0.95rem;
  background-image: url(../images/kf_06.png);
}
.reply-send {
  position: fixed;
  z-index: 2;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0.5rem 1rem;
  background: #fff;
}
.reply-send input {
  width: 29rem;
  float: left;
  height: 4rem;
  line-height: 4rem;
  padding-left: 0.75rem;
  font-size: 1.4rem;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}
.reply-send .r-btn {
  float: right;
  width: 5.3rem;
  line-height: 4rem;
  text-align: center;
  font-size: 1.3rem;
  color: #fff;
  border-radius: 0.5rem;
  background: #f90;
}

.sendComplete{
  font-size: 1.4rem;
  text-align: center;
  padding:15rem 0 10rem 0;
}
.sendComplete img{
  width:4rem;
  margin-bottom: 1rem;
}
.sendComplete .result_title{
  margin-bottom: 0.6rem;
}
.sendComplete .result_content{
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.sendComplete .returnBefore3s{
  font-size: 1rem;
  color:#36c;
  padding: 0.3rem 1rem;
  background-color: #f8f8f8;  
  border-radius: 5rem;
}